<footer>
  <section class="container creds">
    <div style="display: hidden;">2022 &copy; Invoke Art Collective</div>
    <img src="{{ '/images/invoke.png' }}"/>
    <span>Ruby-powered site + proudly built with</span>
    <img src="{{ '/images/logo.svg' }}"/>
    <span>My logo by</span>
    <img src="{{ '/images/dwm.svg' }}"/>
  </section>
</footer>

<hr>
Contact me at <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>
